:root {
  /*Witdhs*/
  --var-width-container: 90%;
  --var-width-100: 100%;
  --var-width-rectangulo-azul: 60px;
  /*Heights*/
  --var-height-image-abogados: 90vh;
  --var-height-rectangulo-azul: 8px;
  /*Color*/
  --background-color-header: #292848;
  --background-color-rectangulo-azul: #2b647f;
  --color-white: white;
  --background-color-yellow: #e3be86;
  --background-color-orange: #cb5122;
  --background-color-azul-claro: #b9cade;
  /*padding*/
  --var-padding: 1.5% 4%;
  --var-padding-despacho: 5% 4%;
  --var-padding-inputs: 3% 4%;
  --var-padding-bottom: 10px 20px;
  --var-padding-abogado-aleman: 100px 30px;
  --var-padding-caja-azul: 10px 10px;
  --var-padding-opinion: 20px;
  --var-pading-input: 15px 5px;
  --var-pading-input2: 15px 12px;
  --var-padding-motivodeconsulta: 100px;
  --var-padding-enviar: 40px;
  --var-pading-btn-enviar: 10px 40px;
  /*Margin*/
  --var-margin-maziul: 10px;
  --margin-left-enviar: 230px;
  --var-margin-big: 100px;
  --margin-top-boton: 50px;
  --margin-left-caja-azul: 40px;
  --margin-bottom-rectangulo-azul: 50px;
  /*Text*/
  --vartext-decoration: none;
  --font-size-big-abogados: 45px;
  --font-bold: bold;
  /*Layouts*/
  --var-border-radius: 5px;
  --var-border-radius-klaus: 10px;
  --var-border-radius-boton-enviar: 30px;
  /*Font*/
  --var-neue: "Neue Montreal", sans-serif;
  --var-neue-serif: "Neue Montreal", serif;
}

header {
  background-color: var(--background-color-header);
  color: var(--color-white);
  padding: var(--var-padding);
}

main {
  padding: var(--var-padding);
}

body {
  margin: 0;
  font-family: var(--var-neue);
}

.bold {
  font-weight: var(--font-bold);
}

.serif {
  font-family: var(--var-neue-serif);
}

.row {
  display: flex;
}

.bg-white {
  background-color: white;
}

.padding {
  padding: var(--var-padding);
}

.line-height {
  line-height: 25px;
}

.w-100 {
  width: var(--var-width-100);
}

.justify-content-between {
  justify-content: space-between;
}

.text-white {
  color: var(--color-white);
}

.background-image {
  background-image: url(../assets/img/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--var-height-image-abogados);
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.gap {
  gap: 40px;
}

.w-75 {
  width: 75%;
}

.btn-enviar,
.btn-enviar2 {
  border: 1px solid #000;
  padding: var(--var-pading-btn-enviar);
  color: #000;
  border-radius: var(--var-border-radius-boton-enviar);
  background-color: var(--color-white);
  display: inline-block;
}

.input {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color-azul-claro);
  border: 0;
  padding: var(--var-pading-input);
  border-radius: 4px;
}
.input2 {
  width: 126%;
  box-sizing: border-box;
  background-color: var(--background-color-azul-claro);
  border: 0;
  padding: 16px; /* menor padding para control de altura mediante min-height */
  min-height: 140px; /* más grande para el input/textarea inferior */
  border-radius: 6px;
}

.text-big {
  font-size: var(--font-size-big-abogados);
}

.btn {
  border: 0;
  padding: var(--var-padding);
  border-radius: var(--var-border-radius);
}

.btn-yellow {
  background-color: var(--background-color-yellow);
  color: #000;
}
.btn-orange {
  background-color: var(--background-color-orange);
  color: var(--color-white);
}

.rectangulo-azul {
  height: var(--var-height-rectangulo-azul);
  width: var(--var-width-rectangulo-azul);
  background-color: var(--background-color-rectangulo-azul);
}

.border-radius {
  border-radius: var(--var-border-radius);
}

.margin-big {
  margin-top: var(--var-margin-big);
}

.caja-abogados {
  background-color: var(--background-color-azul-claro);
  padding: var(--var-padding-caja-azul);
}

.col-33 {
  width: 33%;
}

footer {
  background-color: var(--background-color-header);
  padding: var(--var-padding);
}

.grid1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

.section1 {
  grid-column: 1/13;
  grid-row: 1/2;
}

.section2 {
  grid-column: 1/6;
  grid-row: 2/3;
}

.grid2 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  padding: var(--var-padding-abogado-aleman);
}

.section3 {
  grid-column: 2/13;
  grid-row: 1/2;
}

.section4 {
  grid-column: 2/6;
  grid-row: 1/2;
}

.section5 {
  grid-column: 7/12;
  grid-row: 1/2;
}

.grid3 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-image: url(../assets/img/techo-cristal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 66.5vh;
  text-align: center;
}

.section6 {
  grid-column: 4/10;
  grid-row: 1/2;
}

.grid4 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  margin-top: 40px;
  padding: var(--var-padding);
}

.section7 {
  grid-column: 1/13;
  grid-row: 1/2;
}

.section8 {
  grid-row: 1/2;
  grid-column: 1/4;
}

.section9 {
  grid-column: 4/13;
  grid-row: 1/2;
}

.grid5 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--background-color-header);
  margin-top: 100px;
  padding: var(--var-padding);
  padding-top: 80px;
}

.section10 {
  grid-column: 1/13;
  grid-row: 1/2;
}

.section11 {
  grid-row: 1/2;
  grid-column: 1/13;
}

.grid6 {
  display: grid;
  grid-template-rows: repeat(
    5,
    auto
  ); /* filas con altura automática para reducir separación vertical excesiva */
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--color-white);
  grid-gap: 40px; /* menos separación entre celdas */
  padding: var(--var-padding);
  padding-top: 40px;
}

.section12 {
  grid-row: 1/2;
  grid-column: 1/13;
}

.section13 {
  grid-row: 1/2;
  grid-column: 1/13;
}

.section14 {
  grid-row: 2/3;
  /* small input: 4 columns starting a little inside the container */
  grid-column: 2 / 7;
}
.section15 {
  grid-row: 2/3;
  /* small input on the right side, leaves a 1-2 column gutter in the center */
  grid-column: 7/ 12;
}
.section16 {
  grid-row: 3/4;
  grid-column: 2 / 7;
}
.section17 {
  grid-row: 3/4;
  grid-column: 7 / 12;
}

.section18 {
  grid-row: 4/5;

  grid-column: 2 / 10;
}

.section19 {
  grid-row: 5/6;
  grid-column: 11/12;
}

.grid7 {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--color-white);

  padding: var(--var-padding);
  padding-top: 40px;
}

.section20 {
  grid-row: 1/2;
  grid-column: 1/13;
}

.section21 {
  grid-row: 1/2;
  grid-column: 1/13;
}

.section22 {
  grid-column: 5/13;
  grid-row: 1/2;
}

.grid8 {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(12, 1fr);
  color: var(--color-white);
  padding: var(--var-padding);
  padding-top: 40px;
}

.section23 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.section24 {
  grid-column: 3/5;
  grid-row: 1/2;
}
.section25 {
  grid-column: 5/9;
  grid-row: 1/2;
}

.section26 {
  grid-column: 10/13;
  grid-row: 1/2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--color-white);
  padding: 10px 20px;
  position: relative;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

@media (min-width: 475px) {
  body {
    overflow-x: hidden;
  }
  .section2 {
    grid-column: 1/13;
    grid-row: 2/2;
  }

  .margin-big {
    margin-top: 40px;
  }

  .section6 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .grid4 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .section8 {
    grid-row: 1/2;
    grid-column: 1/13;
  }
  .none {
    display: none;
  }
  .section9 {
    grid-row: 1/2;
    grid-column: 1/13;
    width: 100%;
    margin-top: 140px;
  }
  .col-33 {
    width: 100%;
  }

  .w-s {
    display: block;
  }
  .w-50-m {
    width: 200px;
  }
  .menu-toggle {
    display: block; /* mostrar el botón en móvil */
  }

  .nav-links {
    display: none; /* ocultar los enlaces */
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background-color-header);
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
  }

  .nav-links.active {
    display: flex; /* mostrar cuando está activo */
  }
}

@media (min-width: 828px) {
  /* El menú toggle se oculta en pantallas grandes */
  .menu-toggle {
    display: none;
  }

  /* Los enlaces siempre visibles en pantallas grandes */
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .grid1 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
  }

  .section1 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .section2 {
    grid-column: 1/6;
    grid-row: 2/3;
  }

  .grid2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    padding: var(--var-padding-abogado-aleman);
  }

  .section3 {
    grid-column: 2/13;
    grid-row: 1/2;
  }

  .section4 {
    grid-column: 2/6;
    grid-row: 1/2;
  }

  .section5 {
    grid-column: 7/12;
    grid-row: 1/2;
  }

  .grid3 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-image: url(../assets/img/techo-cristal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 66.5vh;
    text-align: center;
  }

  .section6 {
    grid-column: 4/10;
    grid-row: 1/2;
  }

  .grid4 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    margin-top: 40px;
    padding: var(--var-padding);
  }

  .section7 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .section8 {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .section9 {
    grid-column: 4/13;
    grid-row: 1/2;
    margin-top: 0;
  }

  .grid5 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--background-color-header);
    margin-top: 100px;
    padding: var(--var-padding);
    padding-top: 80px;
  }

  .section10 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .section11 {
    grid-row: 1/2;
    grid-column: 1/13;
  }

  .grid6 {
    display: grid;
    grid-template-rows: repeat(
      5,
      auto
    ); /* filas con altura automática para reducir separación vertical excesiva */
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--color-white);
    grid-gap: 40px; /* menos separación entre celdas */
    padding: var(--var-padding);
    padding-top: 40px;
  }

  .section12 {
    grid-row: 1/2;
    grid-column: 1/13;
  }

  .section13 {
    grid-row: 1/2;
    grid-column: 1/13;
  }

  .section14 {
    grid-row: 2/3;
    /* small input: 4 columns starting a little inside the container */
    grid-column: 2 / 7;
  }
  .section15 {
    grid-row: 2/3;
    /* small input on the right side, leaves a 1-2 column gutter in the center */
    grid-column: 7/ 12;
  }
  .section16 {
    grid-row: 3/4;
    grid-column: 2 / 7;
  }
  .section17 {
    grid-row: 3/4;
    grid-column: 7 / 12;
  }

  .section18 {
    grid-row: 4/5;

    grid-column: 2 / 10;
  }

  .section19 {
    grid-row: 5/6;
    grid-column: 11/12;
  }

  .grid7 {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--color-white);

    padding: var(--var-padding);
    padding-top: 40px;
  }

  .section20 {
    grid-row: 1/2;
    grid-column: 1/13;
  }

  .section21 {
    grid-row: 1/2;
    grid-column: 1/13;
  }

  .section22 {
    grid-column: 5/13;
    grid-row: 1/2;
  }

  .grid8 {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(12, 1fr);
    color: var(--color-white);
    padding: var(--var-padding);
    padding-top: 40px;
  }

  .section23 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .section24 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .section25 {
    grid-column: 5/9;
    grid-row: 1/2;
  }

  .section26 {
    grid-column: 10/13;
    grid-row: 1/2;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: var(--color-white);
    padding: 10px 20px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  header {
    background-color: var(--background-color-header);
    color: var(--color-white);
    padding: var(--var-padding);
  }

  main {
    padding: var(--var-padding);
  }

  body {
    margin: 0;
    font-family: var(--var-neue);
  }

  .bold {
    font-weight: var(--font-bold);
  }

  .serif {
    font-family: var(--var-neue-serif);
  }

  .row {
    display: flex;
  }

  .bg-white {
    background-color: white;
  }

  .padding {
    padding: var(--var-padding);
  }

  .line-height {
    line-height: 25px;
  }

  .w-100 {
    width: var(--var-width-100);
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .text-white {
    color: var(--color-white);
  }

  .background-image {
    background-image: url(../assets/img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--var-height-image-abogados);
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .gap {
    gap: 40px;
  }

  .w-75 {
    width: 75%;
  }

  .btn-enviar,
  .btn-enviar2 {
    border: 1px solid #000;
    padding: var(--var-pading-btn-enviar);
    color: #000;
    border-radius: var(--var-border-radius-boton-enviar);
    background-color: var(--color-white);
    display: inline-block;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color-azul-claro);
    border: 0;
    padding: var(--var-pading-input);
    border-radius: 4px;
  }
  .input2 {
    width: 126%;
    box-sizing: border-box;
    background-color: var(--background-color-azul-claro);
    border: 0;
    padding: 16px; /* menor padding para control de altura mediante min-height */
    min-height: 140px; /* más grande para el input/textarea inferior */
    border-radius: 6px;
  }

  .text-big {
    font-size: var(--font-size-big-abogados);
  }

  .btn {
    border: 0;
    padding: var(--var-padding);
    border-radius: var(--var-border-radius);
  }

  .btn-yellow {
    background-color: var(--background-color-yellow);
    color: #000;
  }
  .btn-orange {
    background-color: var(--background-color-orange);
    color: var(--color-white);
  }

  .rectangulo-azul {
    height: var(--var-height-rectangulo-azul);
    width: var(--var-width-rectangulo-azul);
    background-color: var(--background-color-rectangulo-azul);
  }

  .border-radius {
    border-radius: var(--var-border-radius);
  }

  .margin-big {
    margin-top: var(--var-margin-big);
  }

  .caja-abogados {
    background-color: var(--background-color-azul-claro);
    padding: var(--var-padding-caja-azul);
  }

  .col-33 {
    width: 33%;
  }

  footer {
    background-color: var(--background-color-header);
    padding: var(--var-padding);
  }
}
